* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}

form {
    border: 1px black solid;
    width: fit-content;
    padding: 15px;
    align-self: center;
}

